%h3.center
  Trade Objects Table
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Trade Object Name
      %th Trade Object Type
      %th Recommended Current Price
      %th Average Actual Current Price
      %th Minimum Price
      %th The Number Of Sales For The Last Reporting Period
      %th The Amount Of Sales For The Last Reporting Period
      %th Actions
  %tbody
    = render @trade_objects
.right
  = link_to 'Create Trade Object', new_trade_object_path, class: 'btn btn-primary btn-center'
