$footer-height: 30px;
$margin-bottom-to-footer: $footer-height + 22px;

html {
  position: relative;
  min-height: 100%;
}

body > .container {
  padding-top: 70px;
  margin-bottom: $margin-bottom-to-footer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
}

.right {
  clear: both;
  display: block;
  position: relative;
  float: right;
}

.center {
  text-align: center;
}

.to_right {
  text-align: right;
}

.inline {
  display: inline;
  margin-right: 15px;
}

.logo_color {
  color: #5cb85c !important;
  font-weight: bold;
}